<nav class="navbar center">
  <div class="container center">
    <a class="navbar-brand" href="#">
      <img class="img-responsive" src="assets/images/internsFcsamerica.png">
    </a>
  </div>
</nav>


<div class="container">
  <h1 class="col">FCSamerica Clock IN/OUT for Interns Summer 2022</h1>

  <div class="cards-container">

    <div class="cards-form">

      <div class="alert alert-success centerAlert" role="alert" [hidden]="isAlert">
        {{msg}}
        <i class="fa-solid fa-circle-check"></i>
      </div>


      <form #form="ngForm" name="formB" (ngSubmit)="onSubmit()">


        <div class="form-group form-group-inline">
          <div>
            <label for="">Intern's name</label>
            <input type="text" name="internName" [(ngModel)]="check.internName" required>
          </div>
          <div>
            <label for="">Position Code</label>
            <input type="text" name="position" [(ngModel)]="check.positionId" required>
          </div>
        </div>

        <div class="form-group form-group-inline">
          <div>
            <label for="">Team Code</label>
          <input type="text" name="team" [(ngModel)]="check.teamId" required>
          </div>
          <div>
            <label for="">Date (mm-dd-yy)</label>
          <input type="text" name="date" [(ngModel)]="check.date" required>
          </div>
          </div>

          <div class="form-group form-group-inline">
            <div>
              <label for="">Clock IN time ( Add at end AM/PM )</label>
              <input type="text" name="checkin" [(ngModel)]="check.checkinTime" required>
            </div>
            <div>
              <label for="">Clock OUT time ( Add at end AM/PM )</label>
              <input type="text" name="checkout" [(ngModel)]="check.checkoutTime">
            </div>
          </div>

          <div class="form-group">
            <button class="btn primary" [disabled]="form.form.invalid"><h2>{{labelB}}</h2></button>
          </div>

          <div class="form-group form-group-inline padd">
            <div>
              <h3><b><u>Team ID Codes</u></b></h3>
              <ol type="1" >
                <li>Team Thomas Sowinski</li>
                <li>Team David Link</li>
                <li>Team Jeff Groves</li>
              </ol>
            </div>

            <div>
              <h3><b><u>Position ID Codes</u></b></h3>
              <ol type="1" >
                <li>Application Developer</li>
                <li>Data Platform Analyst</li>
                <li>Data Insights & Analytics</li>
              </ol>
            </div>
          </div>

      </form>
    </div>


    <div class="cards-grid">
    <table class="table table-success table-striped" >
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Position</th>
          <th scope="col">Team</th>
          <th scope="col">ClockIN</th>
          <th scope="col">ClockOut</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody >
        <tr (click)="onModify(check)" *ngFor="let check of checks">
          <td>{{check.internName}}</td>
          <td>{{check.date}}</td>
          <td>{{check.positionId}}</td>
          <td>{{check.teamId}}</td>
          <td>{{check.checkinTime}}</td>
          <td>{{check.checkoutTime}}</td>
          <div class="card-row-action">
            <a (click)="deleteCheck(check.id)"><i class="fa-solid fa-trash"></i></a>
          </div>
        </tr>

      </tbody>
    </table>
  </div>



  </div>

</div>


